<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "estilos.css"%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <a href={% url "index" %}> Regresar a Inicio</a>
    </header>
    <h1>Contexto familiar de las personas Sordas</h1>
      <p>La familia cumple un papel muy importante en la sociedad y es fundamental para el correcto desarrollo de todo ser humano.</p>
      <p>Alguna de las cosas de las que se encarga de aportar la familia a toda persona, son las siguientes:</p>
      <ul> 
         <li>Educación moral.</li>
         <li>Educación sexual</li>
         <li>Autoestima</li>   
         <li>Salud física, emocional, psicológica y social</li>
         <li>Costumbres, tradiciones</li>
         <li>Valores</li>
         <li>Conocimiento compartido</li>
         <li>Lenguaje</li>
         <li>Protección</li>
      </ul>
      <p>Sin embargo, generalmente es el lenguaje el que se utiliza para enseñar todo lo anteriormente mencionado. En las familias en donde hay integrantes Sordos, el 90% no sabe LSM. Esto afecta enormemente el desarrollo de una persona Sorda</p>
      <p>El elemento que une a la comunidad Sorda es la Lengua de Señas, el 80% de los matrimonios en la comunidad de Sordos es de Sordos con Sordos.</p>
      <p>Cabe recalcar, que los Sordos por lo general son:</p>
      <ol>
        <li>Muy sociables</li>
        <li>Muy platicadores</li>
        <li>Directos al expresar lo que piensan</li>
        <li>Son muy expresivos</li>
    </ol>
    <hr>

    <h2>Contexto educativo de las personas Sordas</h2>
    <p>Una persona Sorda, lo único que no podría hacer, sería escuchar, sin embargo como sociedad los afectamos en su desarrollo en diferentes áreas, y el ámbito educativo es una de ellas.</p>
    <p>Un niño de preescolar entre 3 y 6 años que no es Sordo, sabe aproximadamente entre 1,500 y 2,500 palabras.</p>
    <p>Un niño Sordo, entre 3 y 6 años sabe entre 10 y 20 palabras. Esto le afecta mucho en su etapa de preescolar ya que no puede comunicarse con los maestros ni con sus compañeros.</p>
    <p>Un niño de primaria de 6 a 12 años que no es Sordo, sabe aproximadamente entre 2,500 y 10,000 palabras y tendrá un aprovechamiento escolar aproximado del 70% a 80%.</p>
    <p>Un niño Sordo de 6 a 12 años sabe entre 20 y 50 palabras. Esto le afecta mucho en la primaria ya que no tendrá acceso a todos los conocimientos allí impartidos. Su aprovechamiento escolar esta aproximadamente entre 5% y 10%.</p>
    <p>Un adolescente de secundaria entre 12 a 15 años que no es Sordo, sabe aproximadamente 10,000 a 15,000 palabras.</p>
    <p>Un adolescente Sordo entre 12 a 15 años, sabe entre 50 a 100 palabras. Esto afecta mucho en la cantidad de conocimientos a los que tendrá acceso, teniendo un aprovechamiento de un 5% a 10%.</p>
    <p>En vista del contexto educativo de la mayoría de Sordos, el porcentaje de lecto-escritura que tiene una persona Sorda, es menor al 30%, por lo que ni entenderían un escrito, lectura, documento, etc. Se llega a presentar en muchos de ellos el analfabetismo funcional. Esto habrá que considerarlo al comunicarnos de forma escrita con una persona Sorda.</p>
</body>


<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Deafness_and_hard_of_hearing_symbol.png" alt="">
<footer>
    <address>
        <p>Desarrollado por: Liliana Rubí Pedraza Hernández</p>
        <p>Derechos reservados &copy;</p>
    </address>
 </footer>
</html>