{% extends 'core/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="LSM,Lengua de Señas, Lengua de Señas Mexicana, Comunidad Sorda, Personas Sordas,Inclusión">
    <meta name="description" content="Explora la Lengua de Señas Mexicana (LSM), el idioma visual de la comunidad sorda en México. Encuentra información, recursos y videos sobre LSM, para promover la inclusión a través de esta lengua única.">
    <title class="titulo">Lengua de Señas Mexicana</title>

     <!-- Script para mostrar el mensaje de bienvenida -->
     <script type="text/javascript">
      window.onload = function() {
          alert('¡Bienvenido a la página de la Lengua de Señas Mexicana!');
      };
  </script>

</head>
<body>
   <header>
      <h1>Lengua de Señas Mexicana y las Personas Sordas</h1> 
      <nav> 
         <ul> 
            <li><a class="links" href={% url "index" %}>La Lengua de Señas Mexicana</a></li>
            <li><a class="links" href={% url "terminos"%}>Términos correctos</a></li>
            <li><a class="links" href={% url "historia"%}>Historia de la Lengua de Señas Mexicana</a></li>
            <li><a class="links" href={% url "contexto"%}>Contexto de la Comunidad Sorda</a></li>
            <li><a class="links" href={% url "mitos"%}>Mitos y realidades de las personas Sordas</a></li>
            <li><a class="links" href={% url "tutoriales"%}>Tutoriales de Lengua de Señas Mexicana</a></li>
         </ul>
      </nav>
   </header>

   <main> 
      <h2>La Lengua de Señas Mexicana</h2>
      <p>Usualmente se hace la pregunta: "¿Es lengua de señas o lenguaje de señas?". El término correcto es "Lengua de Señas". Cuando hablamos de "lengua", nos referimos a un sistema de comunicación estructurado con reglas gramaticales, vocabulario y sintaxis propios, como es el caso de la Lengua de Señas Mexicana (LSM). Por otro lado, "lenguaje" es un concepto más amplio que se refiere a la capacidad humana general de comunicarse mediante sistemas de signos, ya sean orales, escritos o visuales. Por lo tanto, al referirnos a la Lengua de Señas, estamos hablando de un idioma completo y natural, con su propia estructura y reglas, usado por la comunidad sorda para comunicarse.</p>
      <p>En 2024 se estima que en México hay 4,6 millones de personas sordas o con problemas de audición. Esto representa el 7,6% de la población mexicana. </p>
      <p>El día Nacional de la Lengua de Señas Mexicana (LSM) se celebra el 10 de junio de cada año desde 2005.</p>

      <p class="letrita">Podcats sobre LSM:</p>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3SCFhcP72VOab6JIITaCBH?utm_source=generator" width="80%" height="330" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

      <!-- Formulario con Validación -->
      <form id="formulario">
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" required>
          <button type="submit">Enviar</button>
      </form>

      <button id="miBoton">Mostrar Saludo</button>
   </main>

   <footer>
      <div class="footer-container">
          <!-- Sección de enlaces importantes -->
          <div class="footer-links">
              <h3>Enlaces Rápidos</h3>
              <ul>
                  <li><a href="#contact">Contacto</a></li>
                  <li><a href="#privacy">Política de Privacidad</a></li>
              </ul>
          </div>
  
          <!-- Sección de redes sociales -->
          <div class="footer-social">
              <h3>Conéctate con Nosotros</h3>
              <div class="social-icons">
               <a href="https://www.facebook.com/DiloEnSenas?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
               <a href="https://www.instagram.com/diloensenas?igsh=YnI1aWFwMTk5dnQw"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
  
          <!-- Sección de información de contacto -->
          <div class="footer-contact">
              <h3>Contáctanos</h3>
              <p>Email: contacto@lenguadeseñas.com</p>
              <p>Teléfono: +123 456 7890</p>
          </div>
      </div>
  
      <!-- Copyright -->
      <div class="footer-bottom">
          <p>&copy; Todos los derechos reservados.</p>
      </div>
  </footer>

</body>
</html>
{% endif %}
{% endblock %}