<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "estilos.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos correctos</title>
</head>
<body>
  <header>
    <a href={% url "index" %}> Regresar a Inicio</a>
    <h1>Términos correctos</h1>
  </header>
  
       <p>Aunque existan muchos términos incorrectos en la sociedad, es muy importante aprender y usar los términos que las personas con discapacidad aceptan.</p>
       <p class="negritas">Estos términos <span style= "font-size: 20px;"> NO</span> son correctos:</p>
       <p>Discapacitados, capacidades diferentes, especiales, angelitos, enfermos, minusválidos, sordomudo, invidente, mudo, incluyendo todos los diminutivos cómo sordito, mudito, enfermito.</p>
       <p><mark>La palabra "sordomudo" es considerada por muchas personas como un insulto, por lo que no debería formar parte de nuestro vocabulario.</mark></p>
       <p class="negritas">El término correcto es: persona con discapacidad. En lo referente al tema de la discapacidad auditiva también es correcto decir: Persona Sorda</p> 
       <p>De igual manera, se puede decir solamente Sordo sin decir "persona" siempre y cuando recordemos que:</p>
       <ul> 
         <li>Sordo (con letra "S" mayúscula) se refiere a la comunidad lingüística de las personas Sordas.</li>
         <li>sordo (con letra "s" minúscula) se refiere a la discapacidad.</li>
       </ul>

       <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7qCFATjOHreU25djtFMgmY?utm_source=generator" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <footer>
        <div class="footer-container">
            <!-- Sección de enlaces importantes -->
            <div class="footer-links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="#privacy">Política de Privacidad</a></li>
                </ul>
            </div>
    
            <!-- Sección de redes sociales -->
            <div class="footer-social">
                <h3>Conéctate con Nosotros</h3>
                <div class="social-icons">
                 <a href="https://www.facebook.com/DiloEnSenas?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
                 <a href="https://www.instagram.com/diloensenas?igsh=YnI1aWFwMTk5dnQw"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
    
            <!-- Sección de información de contacto -->
            <div class="footer-contact">
                <h3>Contáctanos</h3>
                <p>Email: contacto@lenguadeseñas.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
        </div>
    
        <!-- Copyright -->
        <div class="footer-bottom">
            <p>&copy; Todos los derechos reservados.</p>
        </div>
    </footer>
</html>